{% extends 'base.html'%}
{% load i18n %}
{% load core_extras %}
{% block container %}
<h2>{% trans "Available votes" %}</h2>
<table class="table table-bordered">
    <tr>
        <td class="table-warning">{% trans "Not yet active" %}</td>
        <td class="table-success">{% trans "Active" %}</td>
        <td class="table-danger">{% trans "Finished" %}</td>
    </tr>
</table>
<div class="list-group">
    {% for vote in votes %}
    <a href="{% url 'vote' vote.pk %}"
        class="list-group-item list-group-item-action{% if vote.before %} list-group-item-warning{% elif vote.active %} list-group-item-success{% else %} list-group-item-danger{% endif %}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{vote.name}}</h5>
            <small>{% has_voted vote request.user %}</small>
        </div>
        <p class="mb-1">{{vote.description}}</p>
        <small><i class="fa fa-calendar"></i> {{vote.begin_date}} - {{vote.end_date}} <i class="fa fa-file"></i>
            {% blocktrans count nb_documents=vote.document_set.count %}1 document available{% plural %}{{nb_documents}}
            documents available{% endblocktrans %} {% if vote.groups.all %} <i class="fa fa-users"></i>
            {% blocktrans count nb_groups=vote.groups.count %}Restricted to group : {% plural %} Restricted to groups :
            {% endblocktrans %}
            {{ vote.groups.all | join:", " }}{% endif %}; {% trans "See voters" %} : {{ vote.see_voters|yesno:_("Yes,No") }}; {% trans "Public results" %} : {{ vote.public_results|yesno:_("Yes,No") }}</small>
    </a>
    {% endfor %}
</div>
{% endblock %}